body { margin: 0; padding: 0; box-sizing: border-box;}
/* .heading {text-align: center; padding: 10px; color: white;}
.box { height: 100px; width: 150px; margin: 20px 20px 300px 20px; text-align: center; padding: 10px; color: white; border-radius: 20px;} 
#box1 { background-color: blue;}
#box2 { background-color: red;}
#box3 { background-color: green;}
#box4 { background-color: rgb(0, 153, 255);}
#box5 { background-color: rgb(207, 47, 146);}
#box6 { background-color: rgb(255, 30, 0);}
.btn {
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#play {background-color: purple;}
#pause {background-color: gray;} */


/* #quote { max-width: 500px; width: 100%; margin: auto; font-size: 30px;} */