body {
	margin: 0;
	background: var(--main_bg);
	padding: 0;
}
:root {
	--Blacker_Text:'Plus Jakarta Sans', sans-serif; 
	--Manrope:'Plus Jakarta Sans', sans-serif;

	--main_bg:#DCE4ED;
	--main_bg_1:#D4AF37;
	--main_bg_2:#FFF;
	--main_bg_3:#2B4C65;
	--main_bg_4:#375B77;
	--main_bg_5:#1B3344;
	--main_bg_6:#FBFBFB;
	--main_bg_7: #CDD6E0;

	--main_title_1:#3E6E7F;
	--main_title_2:#2B4C65;
	--main_title_3:#fff;
	--main_text_1:#555966;
	--main_text_2:#FFF;
	--main_text_3:#AEB6BF;
	--main_text_4:#A1B6C6;
	--main_text_5:#DCF0FF;
	--main_text_6:#D4AF37;

	--btn_color_1:#D4AF37;
	--border_color:#D4AF37;
	--border_color_1:#2B4C65;
	--border_color_2:#DCE4ED;
	--border_color_3:#555966;
	--border_color_4:#fff;
	--border_color_5:#396383;
}

a:hover { text-decoration: none; }

/* top link section start */

.top-link-section { background: var(--main_bg); padding: 32px 0 24px 0; }
.top-link-section ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 8px;
}
.top-link-section ul li {
	list-style-type: none;
}
.top-link-section ul li a {
	color: var(--main_text_1);
	font-family: var(--Manrope);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.top-link-section ul li.active a {
	text-decoration-line: none;
}

/* top link section end */

/* state of oregon section start */
.state-of-oregon-section {
	padding: 0 0 32px 0;
	background: var(--main_bg);
}
.state-of-oregon-left-wapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.state-of-oregon-left-wapper p {
	color: var(--main_text_1);
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
}
.state-of-oregon-left-wapper h6 {
	color: var(--main_title_2);
	font-family: var(--Manrope);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	margin: 0;
}
.state-of-oregon-left-wapper ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.state-of-oregon-left-wapper ul li {
	list-style: none;
}
.state-of-oregon-top {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.state-of-oregon-top h2 {
	color: var(--main_title_2);
	font-family: var(--Blacker_Text);
	font-size: 34px;
	font-style: normal;
	font-weight:700;
	line-height: normal;
	letter-spacing: -0.34px;
	padding-bottom: 8px;
	margin: 0;
}
.state-of-oregon-top h5 {
	color: var(--main_text_1);
	font-family: var(--Manrope);
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
}
.state-of-oregon-top p {
	font-size: 14px;
	line-height: 20px;
	opacity: 0.5;
}
/* left */

/* right */
.oregon-supreme-right-wapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.oregon-supreme-right-wapper .adv-wapper {
	width: 100%;
	height: 349px;
	border: 1px solid var(--border_color_1);
	background: #FFF;
	color: var(--main_text_1);
	text-align: center;
	font-family: var(--Manrope);
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper {
	border: 1px solid var(--border_color_1);
	background: var(--main_bg_2);
	padding: 32px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper h5 {
	color: var(--main_title_2);
	text-align: center;
	font-family: var(--Blacker_Text);
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.22px;
	margin: 0;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper p {
	color: var(--main_text_1);
	text-align: center;
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	margin: 0;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper form .form-group {
	margin: 0;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper form .form-group input {
	width: 100%;
	height: 48px;
	padding: 8px 16px;
	border-radius: 4px;
	border: 1px solid var(--border_color_1);
	background: var(--main_bg_2);
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper form .form-group input:focus {
	box-shadow: none;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper form .subscribe-btn {
	display: flex;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper form .subscribe-btn a {
	border-radius: 8px;
	background: var(--main_bg_3);
	border: 0;
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main_title_3);
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.oregon-supreme-right-wapper .free-daily-summaries-wapper form .subscribe-btn a img {
	margin-right: 6px;
}
/* state of oregon section end */

/* Find Personal Lawyer by State section css start */
.personal-lawyer-wapper {
	background: var(--main_bg);
	padding: 200px 0 110px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.personal-lawyer-wapper:before {
	content: '';
	background:var(--main_bg_1);
	width: 102%;
	transform: rotate(5.716deg);
	top: 120px;
	position: absolute;
	left: -120px;
	z-index: -2;
	height: 100%;
}
.personal-lawyer-wapper::after {
	content: '';
	position: absolute;
	right: -160px;
	top: 155px;
	background: var(--main_bg_3);
	width: 120%;
	height: 100%;
	transform: rotate(-7.689deg);
	z-index: -1;
}
.pl-top-shape {
	position: relative;
	z-index: 0;
	padding: 100px 0;
	width: 100%;
	z-index: 100;
}
.pl-top-shape .container {
	display: flex;
	flex-direction: column;
	gap: 120px;
}
.plb-title {
	max-width: 647px;
	width: 100%;
	margin: auto;
	padding-bottom: 32px;
}
.plb-title h2 {
	color: var(--main_title_3);
	font-family: var(--Blacker_Text);
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.48px;
	text-transform: capitalize;
	margin: 0;
}
.plb-title h2 span {
	position: relative;
	z-index: 1;
}
/*.plb-title h2 span::after {
	content: '';
	width: 100%;
	height: 20px;
	background: #532E45;
	position: absolute;
	bottom: 5px;
	left: 0;
	z-index: -1;
}*/
.us-primary-wapper-top .us-primary-law-inner-text {
	border-radius: 4px;
	background: var(--main_bg_4);
	padding: 24px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	min-height: 223px;
}
.us-primary-wapper-top .us-primary-law-inner-text ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
	list-style: none;
}
.us-primary-wapper-top .us-primary-law-inner-text ul li a {
	color: var(--main_title_3);
	font-family: var(--Manrope);
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	margin: 0;
}
.plb-wapper-bottom .plb-title {
	padding-bottom: 40px;
}
.plb-wapper-bottom .plb-title h2 {
	text-align: center;
}
.state-list-wapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;
	border-radius: 4px;
	background: var(--main_bg_4);
	padding: 24px;
	flex-wrap: wrap;
}
.state-list-wapper ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.state-list-wapper ul li { list-style-type: none; }
.state-list-wapper ul li a {
	color: var(--main_title_3);
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 34px;
}
/* Find Personal Lawyer by State section css end */

@media(max-width:1399px) {
	/* state of oregon section start */
	/* right */
	.oregon-supreme-right-wapper .free-daily-summaries-wapper p { font-size: 15px; line-height: 23px; }
	/* state of oregon section end */
	/* Find Personal Lawyer by State section css start */
	.personal-lawyer-wapper::after { width: 123%; }
	.us-primary-wapper-top .us-primary-law-inner-text ul li p { font-size: 15px; }
	/* Find Personal Lawyer by State section css End */
}

@media(max-width:1199px) {
	/* Find Personal Lawyer by State section css start */
	.personal-lawyer-wapper::after { width: 128%; }
	/* Find Personal Lawyer by State section css End */
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
	/* state of oregon section start */
	/* right */
	.oregon-supreme-right-wapper .free-daily-summaries-wapper h5 { font-size: 17px; line-height: 23px; }
	.oregon-supreme-right-wapper .free-daily-summaries-wapper p { font-size: 11px; line-height: 19px; }
	.oregon-supreme-right-wapper .free-daily-summaries-wapper { padding: 25px 10px; gap: 14px; }
	.oregon-supreme-right-wapper .adv-wapper { height: 250px; }
	/* state of oregon section end */

	/* Find Personal Lawyer by State section css start */
	.us-primary-wapper-top .us-primary-law-inner-text ul li p { font-size: 12px; line-height: 30px; }
	.us-primary-wapper-top .us-primary-law-inner-text { min-height: 183px; }
	/* Find Personal Lawyer by State section css End */
}

@media(max-width:991px) {
	/* state of oregon section start  */
	.state-of-oregon-section .row { display: flex; flex-direction: column; gap: 30px; }
	/* state of oregon section end  */

	/* Find Personal Lawyer by State section css start */
	.personal-lawyer-wapper::after { width: 135%; }
	.pl-top-shape { padding: 85px 0 0 0; }
	.state-list-wapper { gap: 30px; }
	.us-primary-wapper-top .row { display: flex; flex-direction: column; gap: 30px; }
	.pl-top-shape .container { gap: 30px; }
	.plb-title { max-width: 100%; }
	.plb-wapper-bottom .plb-title h2 { text-align: left; }
	/* Find Personal Lawyer by State section css End */
}

@media(max-width:767px) {
	/*  top link section start  */
	.top-link-section { padding: 24px 0; }
	.top-link-section ul { column-gap: 16px; flex-wrap: wrap; }
	/*  top link section end */
	
	/* state of oregon section start  */
	.state-of-oregon-left-wapper { gap: 20px; }
	/* state of oregon section end  */

	/* Find Personal Lawyer by State section css start */
	.personal-lawyer-wapper { padding: 100px 0 60px; }
	.personal-lawyer-wapper::after { right: -163px; top: 128px; width: 188%; }
	.personal-lawyer-wapper:before { left: -124px; }
	.plb-title h2 {
		width: 100%;
		max-width: 335px;
		color: var(--main_title_3);
		text-align: center;
		font-family: var(--Blacker_Text);
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.36px;
	}
	.plb-title h2:before { display: none; }
	.state-list-wapper {
		display: flex;
		padding: 16px;
		column-gap: 16px;
		align-items: stretch;
	}
	.state-list-wapper ul li {
		width: 114px;
		list-style-type: none;
	}
	.state-list-wapper ul {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	.pl-top-shape {
		padding: 130px 0 0 0;
	}
	.us-primary-wapper-top .us-primary-law-inner-text {
		gap: 10px;
		min-height: auto;
		flex-wrap: wrap;
	}
	/* Find Personal Lawyer by State section css start */

}