body {
	margin: 0;
	background: var(--main_bg);
	padding: 0;
}
:root {
	--Blacker_Text:'Plus Jakarta Sans', sans-serif; 
	--Manrope:'Plus Jakarta Sans', sans-serif;

	--main_bg:#DCE4ED;
	--main_bg_1:#D4AF37;
	--main_bg_2:#FFF;
	--main_bg_3:#2B4C65;
	--main_bg_4:#375B77;
	--main_bg_5:#1B3344;
	--main_bg_6:#FBFBFB;
	--main_bg_7: #CDD6E0;

	--main_title_1:#3E6E7F;
	--main_title_2:#2B4C65;
	--main_title_3:#fff;
	--main_text_1:#555966;
	--main_text_2:#FFF;
	--main_text_3:#AEB6BF;
	--main_text_4:#A1B6C6;
	--main_text_5:#DCF0FF;
	--main_text_6:#D4AF37;

	--btn_color_1:#D4AF37;
	--border_color:#D4AF37;
	--border_color_1:#2B4C65;
	--border_color_2:#DCE4ED;
	--border_color_3:#555966;
	--border_color_4:#fff;
	--border_color_5:#396383;
}

/* banner section css start */
.cp-section-wapper {
	position: relative;
	padding: 80px 0 30px;
}
.cp-main-wapper { max-width: 940px; width: 100%; display: flex; flex-direction: column; gap: 40px; }
.cp-title h1 {
	margin: 0;
	color: var(--main_title_1);
	font-family: var(--Blacker_Text);
	font-size: 65px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -1.95px;
	text-transform: capitalize;
	position: relative;
}
.cp-title h1 span {
	color: var(--main_title_2);
}
.cp-bottom-card { display:flex; flex-direction:column; gap:24px; }
.cp-claim-card {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	position: relative;
}
.cp-claim-card form {
	display: flex;
	flex-direction: row;
	gap: 16px;
	position: relative;
	width: 100%;
}
.cp-claim-card p {
	color: var(--main_text_1);
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	margin: 0;
	max-width: 400px;
	width: 100%;
}
.cp-claim-card input {
	max-width: 336px;
	width: 100%;
	height: 48px;
	padding: 0 16px;
	border-radius: 4px;
	background: var(--main_bg_2);
	color:var(--main_title_1);
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 48px;
	border: 0;
}
.cp-claim-card input::placeholder { opacity:1; color:var(--main_title_1); }
.claim-by-btn {
	display: block;
	max-width: 170px;
	width: 100%;
	border-radius: 8px;
	background: var(--main_bg_3);
	border: 0;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	color: var(--main_text_2);
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	height: 48px;
}
/* banner section css end */

/*claim-profile section css start */
.claim-profile-wapper {
	background: var(--main_bg);
	padding: 280px 0 110px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.claim-profile-wapper:before {
	content: '';
	background: var(--main_bg_1);
	width: 102%;
	transform: rotate(5.716deg);
	top: 120px;
	position: absolute;
	left: -100px;
	z-index: -2;
	height: 100%;
}
.claim-profile-wapper::after {
	content: '';
	position: absolute;
	right: -106px;
	top: 138px;
	background: var(--main_bg_2);
	width: 114%;
	height: 100%;
	transform: rotate(-7.689deg);
	z-index: -1;
}
.claim-profile-card {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 24px;
}
.claim-profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border_color);
    background-color: var(--main_bg_2);
    border-radius: 100%;
    max-width: 88px;
    width: 100%;
    height: 88px;
    margin: 0;
}
.claim-profile-icon img {
	width: 32px;
	height: 32px
}
.claim-profile-text { display:flex; flex-direction:column; gap:12px; }
.claim-profile-text h3 {
	color: var(--main_title_2);
	font-family: var(--Manrope);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.2px;
	margin: 0;
}
.claim-profile-text p {
	margin: 0;
	color: var(--main_text_1);
	font-family: var(--Manrope);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.18px;
}
/*claim-profile section css end */

@media (max-width:1400px) {
	/* claim-profile section css start */
	.claim-profile-wapper::after { right: -121px; width: 120%; }
	/* claim-profile section css End */
}

@media(max-width:1199px) {
	/* claim-profile section css start */
	.claim-profile-wapper::after { content: ''; width: 123%; right: -120px; }
	/* claim-profile section css End */
}

@media(max-width:991px) {
	/* banner section css start */
	.cp-title h1 { font-size:40px;line-height:60px; }
	.cp-claim-card { flex-direction:column; }
	/* banner section css end */

	/* claim-profile section css  */
	.claim-profile-wapper:before { top: 78px; left: -114px; }
	.claim-profile-wapper::after { width: 200%; right: -170px; z-index: -1; }
	.patience-areas-title { padding:80px 0 0; }
	.claim-profile-wapper { padding: 200px 0 40px; }
	/* claim-profile section css End */

}

@media(max-width:767px) {
	/* banner section css start */ 
	.cp-claim-card form { flex-direction:column; }
	.claim-by-btn { max-width:100%; }
	/* banner section css end */ 

	/* claim-profile section css start */
	.claim-profile-wapper { padding:200px 0 60px; }
	.claim-profile-wapper::after { width: 248%; right: -254px; z-index: -1; }
	.claim-profile-wapper:before { top: 108px; left: -193px; }
	/* claim-profile section css end */
}
