body {
	margin: 0;
	background: var(--main_bg);
	padding: 0;
}
:root {
	--Blacker_Text:'Plus Jakarta Sans', sans-serif; 
	--Manrope:'Plus Jakarta Sans', sans-serif;

	--main_bg:#DCE4ED;
	--main_bg_1:#D4AF37;
	--main_bg_2:#FFF;
	--main_bg_3:#2B4C65;
	--main_bg_4:#375B77;
	--main_bg_5:#1B3344;
	--main_bg_6:#FBFBFB;
	--main_bg_7: #CDD6E0;

	--main_title_1:#3E6E7F;
	--main_title_2:#2B4C65;
	--main_title_3:#fff;
	--main_text_1:#555966;
	--main_text_2:#FFF;
	--main_text_3:#AEB6BF;
	--main_text_4:#A1B6C6;
	--main_text_5:#DCF0FF;
	--main_text_6:#D4AF37;

	--btn_color_1:#D4AF37;
	--border_color:#D4AF37;
	--border_color_1:#2B4C65;
	--border_color_2:#DCE4ED;
	--border_color_3:#555966;
	--border_color_4:#fff;
	--border_color_5:#396383;
}
a:hover { text-decoration:none; }

/* top link section start */

.top-link-section{
	background: var(--main_bg);
	padding: 32px 0;
}
.top-link-section ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 8px;
}
.top-link-section ul li{
	list-style-type: none;
}
.top-link-section ul li a{
	color:  var(--main_text_1);
	font-family: var(--Manrope);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	/*text-decoration-line: underline;*/
}

/* top link section end */

/* banner text section start */

.banner-text-section{
	padding: 10px 0;
	/*background: #FFF6ED; */
}
.banner-text-section .banner-text-wapper { padding-bottom: 40px; }
.banner-text-section .banner-text-wapper h1{
	color: var(--main_title_1);
	text-align: center;
	font-family: var(--Blacker_Text);
	font-size: 65px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -1.95px;
	text-transform: capitalize;
	margin: 0;
}
.banner-text-section .banner-text-wapper h1 span{
	position: relative;
	z-index: 1;
	color:var(--main_title_2) ;
}

/* form css start */
.form-wapper {
	max-width: 802px;
	width: 100%;
	margin: auto;
}
.form-wapper form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
}
.banner-new-input {
	width: 100%;
	max-width: 349px;
	margin-right: 0;
	position: relative;
	margin-bottom: 0;
}
.area-icon img {
	position: absolute;
	top: 14px;
	left: 16px;
	width: 20px;
	height: 20px;
	z-index: 100;
}
.arrow-f-icon img {
	width: 14px;
	height: 14px;
	top: 17px;
	right: 16px;
	position: absolute;
	z-index: 100;
}
.form-col {
	max-width: 330px;
	width: 100%;
}
.input-focus {
	max-width: 100%;
	padding: 0 44px 0 44px;
	line-height: 48px !important;
	border-radius: 8px;
	background: var(--main_bg_2);
	border: 0;
	margin: auto;
	width: 100% !important;
	height: 48px;
	position: relative;
	color: var(--main_title_2);
	font-family: var(--Manrope);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.label-focus {
	position: absolute;
	left: 44px;
	top: 14px;
	color: var(--main_text_3);
	font-family: var(--Manrope);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 0;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 100ms;
	transform-origin: center;
	font-weight: 400;
	opacity: 0.6;
	pointer-events: none;
}
input.input-focus:focus {
	outline: unset;
}
input.input-focus:focus,
input.input-focus:not(:placeholder-shown) {
	padding-bottom: 0 !important;
	padding-top: 10px !important;
}
input.input-focus:focus+label,
input.input-focus:not(:placeholder-shown)+label {
	font-size: 12px;
	-webkit-transform: translateY(-0.9rem);
	-moz-transform: translateY(-0.9rem);
	-ms-transform: translateY(-0.9rem);
	transform: translateY(-0.9rem);
}
select.select-focus::not([value=""]):valid~label {
	font-size: 12px;
	-webkit-transform: translateY(-0.9rem);
	-moz-transform: translateY(-0.9rem);
	-ms-transform: translateY(-0.9rem);
	transform: translateY(-0.9rem);
}
select.select-focus:focus+label {
	font-size: 12px;
	-webkit-transform: translateY(-0.9rem);
	-moz-transform: translateY(-0.9rem);
	-ms-transform: translateY(-0.9rem);
	transform: translateY(-0.9rem);
}
input.input-focus::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 1);
}
input.input-focus::-moz-placeholder {
	color: rgba(255, 255, 255, 1);
}
input.input-focus:-ms-input-placeholder {
	color: rgba(255, 255, 255, 1);
}
input.input-focus::placeholder {
	color: rgba(255, 255, 255, 1);
}
.form-col .form-group{ position: relative; margin: 0;}
.form-col .form-control {
	max-width: 100%;
	line-height: 48px !important;
	padding: 0 44px 0px 44px;
	border-radius: 8px;
	background: var(--main_bg_2);
	border: 0;
	margin: auto;
	width: 100% !important;
	height: 48px;
	position: relative;
	color: var(--main_title_2);
	font-family: var(--Manrope);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	appearance: none;
	line-height: normal;
	display: block;
	-webkit-transition: border-color .15s ease-in-out,box-shadow .35s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .35s ease-in-out;
}
select.form-control{ transition: 0.15s;  }
.floating-label {
	font-size: 16px;
	font-weight: 400;
	color: var(--main_text_3);
	opacity: 1;
	top: 0px;
	left: 44px ;
	pointer-events: none;
	position: absolute;
	transition: 240ms;
	margin-bottom: 0;
	z-index: 1;
}
.floating-diff .floating-label{ opacity: 0; }
.floating-diff.focused .floating-label{ opacity: 1;}
.form-group.focused .floating-label { opacity: 1; color: var(--main_text_4); top: 0px; left: 44px; font-size: 12px;}
.form-group.focused select.form-control{ padding-top: 5px;}
.form-btn button {
	border-radius: 8px;
	background: var(--main_bg_3);
	border: 0;
	padding: 0 24px;
	justify-content: center;
	align-items: center;
	display: flex;
	color: var(--main_text_2);
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	height: 48px
}
/* form css end */

/* banner text section end */

/*  browse by states section start */
.browse-by-states-section{
	padding: 240px 0 120px 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.browse-by-states-section::before{
	content: '';
	width: 112%;
	height: 100%;
	border-radius: 10px;
	background: var(--main_bg_1);
	transform: rotate(5.716deg);
	top: 110px;
	position: absolute;
	left: -100px;
	z-index: -2;
}
.browse-by-states-section::after{
	content: '';
	position: absolute;
	right: -126px;
	top: 150px;
	border-radius: 10px;
	background:var(--main_bg_2);
	width: 114%;
	height: 100%;
	transform: rotate(-7.689deg);
	z-index: -1;
}
.browse-by-states-section .container{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.browse-box .browse-bottom-border{
	border-bottom: 2px solid var(--border_color_2);
}
/*Legal Guides section css  */
.lg-sect-title h2 {
	position: relative;
	font-family: var(--Blacker_Text);
	color: var(--main_title_2);
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.48px;
	margin: 0;
	display: inline-block;
}
.lg-sect-title h2 span {
	position: relative;
	z-index: 100
}
.legal-guides-wapper {
	position: relative;
	padding-top: 40px;
}
.legal-guides-wapper {
	display: flex;
	align-items: center;
	column-gap: 32px;
	row-gap: 24px;
	flex-flow: row wrap;
}
.legal-card h3 {
	font-size: 0;
	line-height: normal;
	margin: 0;
}
.legal-card h3 a {
	font-family: var(--Manrope);
	color: var(--main_title_1);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: block;
	padding-bottom: 8px;
}
.legal-card p {
	margin: 0;
	font-family: var(--Manrope);
	color: var(--main_text_1);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.legal-research-card-wapper { padding-top: 40px; }
.legal-research-card-wapper .lg-sect-title h2:before { width: 281px; }
.legal-guides-btn-card, .legal-research-btn-card { display: none; }
/*Legal Guides section end  */
/*  browse by states section end */


@media(max-width:1399px){
	/*  browse by states section start */
	.browse-by-states-section::after { width: 116%; }
	/*  browse by states section end */
}
@media(max-width:1199px){
	/*  browse by states section start */
	.browse-by-states-section::after { width: 120%; }
	/*  browse by states section end */
}
@media(max-width:991px){
	/* banner section css start */
	.form-col { max-width: 275px; width: 100%;} 
	/* banner section css End */

	/*  browse by states section start */
	.browse-by-states-section { padding: 200px 0 120px 0; }
	.browse-by-states-section::after { width: 130%; right: -140px }
	.content-inner-wapper { column-gap: 20px; row-gap: 30px; }
	.content-inner-wapper ul { min-width: 150px; }
	/*  browse by states section end */

	/*Legal Guides section css  */
	.lg-sect-title h2 { font-size: 40px; }
	.legal-col { display:none; }
	.legal-guides-btn-card, .legal-research-btn-card  { display:block; margin-top:24px; }
	.legal-guides-btn-card a, .legal-research-btn-card a {
		border-radius: 8px;
		background: var(--main_bg_3);
		border: 0;
		width: 100%;
		max-width: 335px;
		height: 48px;
		margin: auto;
		color: var(--main_text_2);
		font-family: var(--Manrope);
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 48px;
		text-align: center;
		display: block;
	}
	/*Legal Guides section css End */
}

@media(max-width:767px){
	/*  top link section start  */
	.top-link-section{ padding: 24px 0; }
	/*  top link section end */

	/* banner text section start */
	.banner-text-section .banner-text-wapper h1 { font-size: 44px; line-height: 50px; }
	.banner-text-section .banner-text-wapper h1 span::after { height: 16px; }
	.form-btn {
		width: 100%;
		height: 100%;
		object-fit: cover;
		max-width: unset;
	}
	.form-btn button {
		width: 100%;
		max-width: 100%;
		height: 48px;
		padding: 12px 24px;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.banner-new-input { max-width: 100%;}
	.form-wapper, .form-col { max-width:100%; }
	/* banner text section end */

	/*  browse by states section start */
	.browse-by-states-section { padding: 150px 0 60px 0; }
	.browse-by-states-section::before { top: 75px; left: -150px; }
	.browse-by-states-section::after { width: 220%; right: -190px; top: 95px; }
	.browse-map-section{ display: none; }
	/*  browse by states section end */

}

@media(min-width:1800px){
	.browse-by-states-section::after { right:-142px; }
}