body { padding:0; margin:0; font-family: Inter; }
a:hover { text-decoration:none; }

/* header css start */
.header-wapper { position:relative; }
.header-top-wapper { background: #242422; position: relative; padding: 11px 0 12px; }
.header-top-card { display: flex; flex-flow: row wrap; justify-content: space-between; position: relative; gap: 10px; }
.header-top-card p {
	margin: 0;
	color: #FFF;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.header-top-card a {
	display: block;
	color: #FFF;
	text-align: right;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.header-bottom-wapper { background: #109D73; position: relative; padding: 24px 0 25px; }
.header-bottom-card { display:flex; flex-direction:row; gap:91px; position:relative; align-items:center; }
.h-toggle-btn { display:none; }
.h-menu-wapper { display:flex; flex-direction:row; gap:34px; }
.h-menu-wapper>ul { padding:0; margin:0; display: flex; align-items: center; gap:34px; }
.h-menu-wapper>ul>li { list-style-type:none; display:inline-block; position:relative; }
.h-menu-wapper>ul>li>a {
	color: #FFF;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 5px;
}

.h-menu-wapper .header-sub-menu {
	background-color: #FFF;
	border-radius: 10px;
	color: #109D73;
	border: 0;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	padding: 13px 0 12px 0;
	width:133px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: relative;
}
.h-menu-wapper .header-sub-menu>span { display:flex; align-items:center; gap:4px; }
.h-menu-wapper .header-sub-menu>span img { width: 7px; height: 6px; }
.sub-menu-wapper {
	display: none;
	flex-direction: column;
	gap: 0px;
	border: none;
	top: 100%;
	left: 0px;
	z-index: 99;
	width: 100%;
	position: absolute;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	background: #FFF;
	border-radius: 0 0 10px 10px;
	padding: 10px 0;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 0;
}
.sub-menu-wapper>li { list-style-type:none; position:static; width:100%; }
.sub-menu-wapper>li>a {
	color: #000;
	width:100%;
	text-align: left;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 220%;
	display: block;
	padding: 4px 15px;
	position: relative;
}
.sub-menu-wapper>li>a:hover { color: #109D73; }
.h-menu-wapper .header-sub-menu:hover { border-radius:10px 10px 0 0; }
.h-menu-wapper .header-sub-menu:hover .sub-menu-wapper { display: flex; }

.menu-third-level {
	position: absolute;
	left: 100%;
	top: 0;
	border: 0;
	background-color: #fff;
	height: auto;
	overflow: auto;
	width: 133px;
	padding: 10px 0;
	border-radius: 0 10px 10px 0;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-left: 1px solid rgba(30, 30, 30, .1);
}
.menu-third-level>li { list-style-type:none; position:relative; width:100%; }
.menu-third-level>li>a {
	color: #000;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 220%;
	display: block;
	padding: 4px 15px;
	width: 100%;
	text-align: left;
}
.menu-third-level>li>a:hover { color: #109D73; background-color:rgba(16, 157, 115, 0.1) }
.sub-menu-wapper>li.sub-li:hover .menu-third-level { display: flex; }

.height-add .sub-menu-wapper { height:253px; border-radius:0 0 0 10px; }
.height-add .sub-menu-wapper .menu-third-level { height:253px; overflow: auto; }
.header-sub-menu:focus { outline:unset; }
@-moz-document url-prefix() {
	.sub-menu-wapper .menu-third-level, .sub-menu-wapper {
		scrollbar-color: rgba(16, 157, 115, 0.1) #109D73;
		scrollbar-width: thin
	}
}
.sub-menu-wapper .menu-third-level::-webkit-scrollbar, .sub-menu-wapper::-webkit-scrollbar { width: 7px }
.sub-menu-wapper .menu-third-level::-webkit-scrollbar-track-piece, .sub-menu-wapper::-webkit-scrollbar-track-piece {
	background: rgba(16, 157, 115, 0.1);
	border-radius: 20px;
	margin-bottom: 28px
}
.sub-menu-wapper .menu-third-level::-webkit-scrollbar-thumb, .sub-menu-wapper::-webkit-scrollbar-thumb {
	background-color: #109D73;
	border-radius: 20px
}
/* header css end */

/* footer css start */
.footer-wapper { background-color: #109D73; position: relative; padding: 64px 0 63px; }
.footer-main-card { display:flex; flex-flow:row; justify-content:space-between; gap:20px; }
.footer-left { max-width:293px; width:100%; }
.footer-right { max-width:694px; width:100%; }
.footer-left-card { display: flex; flex-direction: column; gap: 24px; }
.footer-logo img { width: 195px; height: 33px; object-fit: contain; }
.footer-left-card p {
	margin: 0;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
.footer-menu { display: flex; flex-flow: row; gap: 10px; padding: 0; margin: 0; }
.footer-menu li { list-style-type:none; }
.footer-menu li a {
	color: #FFF;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}
.footer-right-text { margin-top:32px; }
.footer-right-text p {
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
/* footer css end */

/* Cookies css start */
.cookies-wapper {
	position: relative;
	background: #242422;
	padding: 40px 0;
}
.cookies-close-icon { position:absolute; right:20px; top:20px; cursor:pointer; }
.cookies-text { max-width:854px; width:100%; margin:auto; }
.cookies-text h4 {
	margin: 0;
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 16px;
}
.cookies-text p {
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin: 0;
}
.cookies-btn { 
	max-width: 400px; 
	width: 100%; 
	margin: auto; 
	margin-top: 27px;
	display:flex; 
	flex-flow:row; 
	gap:22px; 
	justify-content:center; 
	align-items:center; 
}
.c-accept-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #109D73;
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	max-width: 184px;
	width: 100%;
	height: 42px;
	background-color: #FFF;
	border: 1px solid #fff;
	border-radius: 100px;
}
.c-manage-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #242422;
	border: 1px solid #fff;
	max-width: 184px;
	width: 100%;
	height: 42px;
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 100px;
}
.c-accept-btn:hover { color: #109D73; }
.c-manage-btn:hover { color:#fff; }
/* Cookies css end */

@media(max-width:1199px){
	/* footer css start */
	.footer-menu { flex-flow:row wrap; }
	/* footer css end */
}

@media(max-width:767px){
	/* header css start */
	.header-top-card { justify-content:center; }
	.header-top-card p { text-align:center; }
	.h-toggle-btn { display: block; }
	.h-header-menu .h-toggle-btn {
		margin-right: 16px;
		width: 18px;
		height: 16px;
		position: relative;
		-webkit-transition: .5s ease-in;
		-o-transition: .5s ease-in;
		transition: .5s ease-in;
		cursor: pointer;
		display: inline-block;
	}
	.h-header-menu .line-card {
		width: 100%;
		height: 3px;
		background: #fff;
		margin: 4px auto;
		transition: all 0.3s;
		backface-visibility: hidden;
	}
	#h-toggle-btn.open .one { transform: rotate(45deg) translate(2px, 5px); }
	#h-toggle-btn.open .two { opacity: 0; }
	#h-toggle-btn.open .three { transform: rotate(-45deg) translate(5px, -8px); }
	.header-bottom-card { gap:0; justify-content:space-between; }
	#h-sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		right: 0;
		width: 0;
		height: 100vh;
		margin-left: 0;
		background-color: #109D73;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		visibility: hidden;
		opacity: 0;
		top: 166px;
		padding: 20px 0;
	}
	#h-sidebar-wrapper.h-menu-active { width: 270px; opacity: 1; visibility: visible; }
	.m-overlay-bg {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(86, 86, 86, 0.4);
		z-index: 1000;
		transition: all 0.5s ease-in-out;
	}
	.m-overlay-bg.h-bg-active {
		display: block;
		width: 100%;
		left: auto;
		top: 0;
		cursor: pointer;
	}
	.open-nav { overflow: hidden; }
	.h-menu-wapper { flex-direction:column; gap:20px; }
	.h-menu-wapper>ul>li>a { padding:0 15px; }
	.h-menu-wapper .header-sub-menu { width:100%; border-radius:0; justify-content:flex-start; padding:13px 15px 12px 15px; }
	.menu-third-level { position:relative; width:100%; left:0; }
	.height-add .sub-menu-wapper { height:auto; }
	.h-menu-wapper .header-sub-menu:hover { border-radius:0; }
	.sub-menu-wapper, .height-add .sub-menu-wapper { border-radius:0; }
	/* header css end */

	/* footer css start */
	.footer-wapper { padding: 44px 0 40px; }
	.footer-main-card { flex-flow:row wrap; }
	.footer-menu { flex-flow:column; }
	/* footer css end */

	/* Cookies css start */
	.cookies-wapper { padding:80px 0 37px; }
	/* Cookies css end */
}