.map-container {
  position: relative;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
}
.map-container p {
  margin: 0;
}


.map-container #tooltip .map-link {
  color: #b70000;
}

.glowing-orb {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: #b70000;
  position: absolute;
  z-index: 1;
  border-radius: 100%;
  animation: glowing 3s infinite;
}
.glowing-orb.northerncalifornia {
  top: 36.8899%;
  left: 4.12281%;
}
.glowing-orb.southerncalifornia {
  top: 45.97049%;
  left: 6.75439%;
  animation-delay: 0.2s;
  animation-duration: 2s;
}
.glowing-orb.california3 {
  top: 51.64586%;
  left: 9.38596%;
  animation-delay: 0.4s;
  animation-duration: 3s;
}
.glowing-orb.newyork {
  top: 32.00908%;
  left: 85.61404%;
}
.glowing-orb.florida {
  top: 77.63905%;
  left: 78.24561%;
  animation-duration: 2s;
}
.glowing-orb.maryland {
  top: 40.74915%;
  left: 84.82456%;
  animation-delay: 0.4s;
}
.glowing-orb.newjersey {
  top: 36.32236%;
  left: 85.96491%;
  animation-delay: 0.7s;
  animation-duration: 2s;
}
.glowing-orb.delaware {
  top: 39.61407%;
  left: 83.15789%;
  animation-delay: 0.3s;
}

@keyframes glowing {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.5);
    opacity: 0.0;
    box-shadow: 0px 0px 0px 10px #b70000;
  }
}
#tooltip ul { list-style: none; }
.BiggerGroup { font-size: 0px; }
.BiggerGroup text { fill: #291622; opacity:1; }
.stateABB text { color: #291622; opacity:1 !important; }
.pdttime path{ fill: rgba(255, 249, 240, 0.88); stroke: rgba(41, 22, 34, 0.33); }





#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #212121 ;
  color: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 5px;
  padding: 15px;
  font-family: arial;
}
